.DS_Store
node_modules
/dist
/.history


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/src/serve/py/bge-large-zh-v1.5
/src/serve/py/__pycache__
/src/serve/py/dist
/src/serve/py/build
/src/serve/py/index.spec